{% extends "base.html" %}

{% block content %}

<!-- password verification -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% load static %}

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<!-- custom css -->
<link rel="stylesheet" href="{% static 'login.css' %}">

<div id="wrapper">
    <div class="main-content">
      <div class="header">
        <img src="https://i.imgur.com/zqpwkLQ.png" />
      </div>
      <div class="l-part">
          <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                  {{ field.errors }}
                  {{ field }}
              {% endfor %}
              <input type="submit" value="Submit" class="btn">
          </form>
      </div>
    </div>
      <div class="sub-content">
      <div class="s-part">
        Don't have an account?<a href="{% url 'signup' %}">Sign up</a>
      </div>
    </div>
  </div>
  
  {% endblock %}

